@charset "utf-8";
@import url("LiEatHome_Sytles.css");
@import url("LiEat1to3_Sytles.css");
 input:focus, select:focus, textarea:focus{
	 background-color:rgb(255, 255, 180);
 }
#botton{
	text-align:center;
	width:100%
}
input[type='submit'],input[type='reset']{
box-shadow:0.5em 0.3em 3px black;
	font-size:1.5em;
	padding:5px;
	margin:15px
}
textarea{
margin-top:10px;
height:100px;
width:95%;
}
fieldset{
	display:flex;
	flex-wrap:wrap;
	width:30em;
	
}

@media only screen and (max-width:600px){
fieldset{
	width:10em;
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	align-items: stretch;
	
}
#sizing{
	flex-wrap:wrap;
	width:20em;
	height:20em;

}